@font-face {
    font-family: "GeneralSans";
    src: url(../fonts/GeneralSans-Bold.otf);
}
@font-face {
    font-family: "GeneralSans";
    src: url(../fonts/GeneralSans-Extralight.otf);
}
@font-face {
    font-family: "GeneralSans";
    src: url(../fonts/GeneralSans-Light.otf);
}
@font-face {
    font-family: "GeneralSans";
    src: url(../fonts/GeneralSans-Medium.otf);
}
@font-face {
    font-family: "GeneralSans";
    src: url(../fonts/GeneralSans-Semibold.otf);
}
@font-face {
    font-family: "GeneralSans";
    src: url(../fonts/GeneralSans-Regular.otf);
}
@font-face {
    font-family: "Onest";
    src: url(../fonts/Onest-Black.ttf);
}
@font-face {
    font-family: "Onest";
    src: url(../fonts/Onest-Bold.ttf);
}
@font-face {
    font-family: "Onest";
    src: url(../fonts/Onest-ExtraBold.ttf);
}
@font-face {
    font-family: "Onest";
    src: url(../fonts/Onest-ExtraLight.ttf);
}
@font-face {
    font-family: "Onest";
    src: url(../fonts/Onest-Light.ttf);
}
@font-face {
    font-family: "Onest";
    src: url(../fonts/Onest-Medium.ttf);
}
@font-face {
    font-family: "Onest";
    src: url(../fonts/Onest-Thin.ttf);
}
@font-face {
    font-family: "Onest";
    src: url(../fonts/Onest-Regular.ttf);
}
@font-face {
    font-family: "Onest";
    src: url(../fonts/Onest-SemiBold.ttf);
}
@font-face {
    font-family: "Satoshi";
    src: url(../fonts/Satoshi-Black.otf);
}
@font-face {
    font-family: "Satoshi";
    src: url(../fonts/Satoshi-Bold.otf);
}
@font-face {
    font-family: "Satoshi";
    src: url(../fonts/Satoshi-Light.otf);
}
@font-face {
    font-family: "Satoshi";
    src: url(../fonts/Satoshi-Regular.otf);
}
@font-face {
    font-family: "Satoshi";
    src: url(../fonts/Satoshi-Medium.otf);
}
