@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p{
  padding: 0;
  margin: 0;
}
body {
  /* overflow: hidden; */
  font-family: "Poppins", sans-serif;
  background-color: var(--app-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(16, 24, 39);
}
::-webkit-scrollbar{
  width: 5px;
  background-color: rgb(41, 58, 97);
}
::-webkit-scrollbar-thumb{
  background: #09769e;
}
aside {
  width: 220px;
  height: 100vh;
  background-color: rgba(21, 30, 47, 1);
  position: fixed;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.side-header h4 {
  font-size: 16px;
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  color: #cacaca;
  letter-spacing: 0.15em;
  padding: 20px;
}


.sidebar-list {
  margin-top: 30px;
}

.nav {
  display: block;
}

.nav-link {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0;
}

.nav img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.active{
  background-color: rgb(31, 44, 69);
}
.nav-link:hover {
  color: #fff;
}
.product-cell span{
  height: 48px;
  width: 5px;
  display: block;
  background-color: #2869ff;
  position: absolute;
  right: 0;
  top: 0;
}
.product-cell {
  padding: 12px 18px;
  margin-bottom: 4px;
  display: flex;
  position: relative;
}

.product-cell:hover {
  background-color: rgb(31, 44, 69);
}

.statitics-cell {
  padding: 12px 18px;
}

.statitics-cell:hover {
  background-color: rgb(31, 44, 69);
}

main {
  /* background-color: rgb(16, 24, 39); */
  width: 100%;
}
.offset {
  padding-left: 240px;
  padding-right: 20px;
}
.product-header{
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}
.product-header h2{
  color: #fff;
  font-size: 26px;
}
.add-btn{
  padding: 2px 12px;
  font-size: 14px;
  height: 35px;
  background-color: #81b735;
  border: 1.5px solid #81b735;
}
.add-btn:hover{
  color: #81b735;
  background-color: transparent;
  border: 1.5px solid #81b735;
}
.modal-dialog{
  max-width: 350px;
}
.modal-body label {
  display: block;
  /* margin-bottom: 5px; */
  font-size: 14px;
  font-weight: 500;
}
.modal-body input, textarea{
  width: 300px;
  padding: 3px;
  font-size: 12px;
  margin-bottom: 10px;
}
.modal-body input:focus-within, textarea:focus-within{
  outline: none;
}
.modal-footer{
  padding: 5px 10px;
}
.modal-footer button{
  font-size: 12px;
}
.product-table .list-name{
  display: flex;
  align-items: center;
  background-color: rgb(29, 40, 60);
  padding: 10px 15px;
  color: #fff;
  font-size: 13px;
  border-radius: 10px;
}
.product-table .list-name p{
  width: 110px;
}
.product-table .list-name p:nth-child(4){
  margin-left: 20px;
}
.product-table .list-name p:first-child{
  width: 80px;
}
.product-table .list-name p:nth-child(5){
  width: 260px;
}
.product-table .list-name p:nth-child(6){
  margin-left: 70px;
}
.product-table .list-name p:nth-child(7){
  margin-left: 30px;
  width: 50px;
}
.product-list{
  color: #fff;
  font-size: 13px;
}
.table-data{
  padding: 10px 15px;
}
tr{
  border-bottom: 1px solid #ffffff2d;
}
.pro-index{
  width: 70px;
  margin-bottom: 15px;
  margin-top:10px;
}
.pro-image{
  width: 120px;
  margin-bottom: 15px;
  margin-top:10px;

}
.pro-image img{
  width: 60px;
  height: 60px;
  border-radius: 10px;
  object-fit: cover;
}
.pro-name{
  width: 110px;
  margin-bottom: 15px;
  margin-top:10px;

}
.pro-price{
  width: 110px;
  margin-bottom: 15px;
  margin-top:10px;
  margin-left: 20px;

}
.pro-desc{
  width: 260px;
  margin-bottom: 15px;
  margin-top:10px;
}
.pro-stat{
  width: 100px;
  margin-left: 60px;
}
.view-btn{
  margin-left: 30px;
  background-color: #f8981d;
  padding: 4px 8px;
  border-radius: 7px;
  margin-right: 10px;
  border:1.5px solid #f8981d;
  margin-bottom: 15px;
  margin-top:10px;
  transition: all 0.3s;
}
.view-btn:hover{
  color: #f8981d;
  background-color: transparent;
  border:1.5px solid #f8981d;
}
.delete-btn{
  background-color: #ed5e68;
  padding: 4px 8px;
  border-radius: 7px;
  border:1.5px solid #ed5e68;
  margin-bottom: 15px;
  margin-top:10px;
  transition: all 0.3s;
}
.delete-btn:hover{
  color: #ed5e68;
  background-color: transparent;
  border:1.5px solid #ed5e68;

}
.log-out-btn img{
  width: 16px;
  height: 16px;
  margin-right: 10px;
}         
.log-out-btn button {
  background-image: linear-gradient(to right, #EC6F66 0%, #F3A183  51%, #EC6F66  100%);
  margin: 10px;
  padding: 10px 30px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  border-radius: 40px;
  border: none;
  position: absolute;
  bottom: 15px;
  left: 25px;
  font-size: 14px;
}

.log-out-btn button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
